[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git
[submodule "scripts/apothecary"]
	path = scripts/apothecary
	url = https://github.com/openframeworks/apothecary
[submodule "third-party/videoInput"]
	path = third-party/videoInput
	url = git@github.com:ofTheo/videoInput.git
